In [1]:
import os

print(os.listdir())

['datalab', 'bureau.csv', '.forever', '.cache', 'application_train.csv', 'HomeCredit_columns_description.csv', '.local', 'previous_application.csv', '.kaggle-cli', 'credit_card_balance.csv', 'application_test.csv', 'POS_CASH_balance.csv', '.ipython', 'sample_submission.csv', 'bureau_balance.csv', 'installments_payments.csv', '.config']

In [0]:
import pandas as pd

credit_card_balance_df = pd.read_csv('./credit_card_balance.csv')

In [10]:
credit_card_NA_values = credit_card_balance_df.isnull().sum()
credit_card_NA_values

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64

In [11]:
credit_card_balance_count = credit_card_balance_df.count()
credit_card_balance_count

SK_ID_PREV                    3840312
SK_ID_CURR                    3840312
MONTHS_BALANCE                3840312
AMT_BALANCE                   3840312
AMT_CREDIT_LIMIT_ACTUAL       3840312
AMT_DRAWINGS_ATM_CURRENT      3090496
AMT_DRAWINGS_CURRENT          3840312
AMT_DRAWINGS_OTHER_CURRENT    3090496
AMT_DRAWINGS_POS_CURRENT      3090496
AMT_INST_MIN_REGULARITY       3535076
AMT_PAYMENT_CURRENT           3072324
AMT_PAYMENT_TOTAL_CURRENT     3840312
AMT_RECEIVABLE_PRINCIPAL      3840312
AMT_RECIVABLE                 3840312
AMT_TOTAL_RECEIVABLE          3840312
CNT_DRAWINGS_ATM_CURRENT      3090496
CNT_DRAWINGS_CURRENT          3840312
CNT_DRAWINGS_OTHER_CURRENT    3090496
CNT_DRAWINGS_POS_CURRENT      3090496
CNT_INSTALMENT_MATURE_CUM     3535076
NAME_CONTRACT_STATUS          3840312
SK_DPD                        3840312
SK_DPD_DEF                    3840312
dtype: int64

In [19]:
missing_value_percentage = credit_card_NA_values/credit_card_balance_count * 100
missing_value_df = pd.DataFrame(missing_value_percentage, columns={'missing_value_percentage'})
missing_value_df

                            missing_value_percentage
SK_ID_PREV                                  0.000000
SK_ID_CURR                                  0.000000
MONTHS_BALANCE                              0.000000
AMT_BALANCE                                 0.000000
AMT_CREDIT_LIMIT_ACTUAL                     0.000000
AMT_DRAWINGS_ATM_CURRENT                   24.261995
AMT_DRAWINGS_CURRENT                        0.000000
AMT_DRAWINGS_OTHER_CURRENT                 24.261995
AMT_DRAWINGS_POS_CURRENT                   24.261995
AMT_INST_MIN_REGULARITY                     8.634496
AMT_PAYMENT_CURRENT                        24.996973
AMT_PAYMENT_TOTAL_CURRENT                   0.000000
AMT_RECEIVABLE_PRINCIPAL                    0.000000
AMT_RECIVABLE                               0.000000
AMT_TOTAL_RECEIVABLE                        0.000000
CNT_DRAWINGS_ATM_CURRENT                   24.261995
CNT_DRAWINGS_CURRENT                        0.000000
CNT_DRAWINGS_OTHER_CURRENT                 24.261995
CNT_DRAWINGS_POS_CURRENT                   24.261995
CNT_INSTALMENT_MATURE_CUM                   8.634496
NAME_CONTRACT_STATUS                        0.000000
SK_DPD                                      0.000000
SK_DPD_DEF                                  0.000000

In [0]:
credit_card_balance_count = credit_card_balance_df.count()
credit_card_balance_count

SK_ID_PREV                    3840312
SK_ID_CURR                    3840312
MONTHS_BALANCE                3840312
AMT_BALANCE                   3840312
AMT_CREDIT_LIMIT_ACTUAL       3840312
AMT_DRAWINGS_ATM_CURRENT      3090496
AMT_DRAWINGS_CURRENT          3840312
AMT_DRAWINGS_OTHER_CURRENT    3090496
AMT_DRAWINGS_POS_CURRENT      3090496
AMT_INST_MIN_REGULARITY       3535076
AMT_PAYMENT_CURRENT           3072324
AMT_PAYMENT_TOTAL_CURRENT     3840312
AMT_RECEIVABLE_PRINCIPAL      3840312
AMT_RECIVABLE                 3840312
AMT_TOTAL_RECEIVABLE          3840312
CNT_DRAWINGS_ATM_CURRENT      3090496
CNT_DRAWINGS_CURRENT          3840312
CNT_DRAWINGS_OTHER_CURRENT    3090496
CNT_DRAWINGS_POS_CURRENT      3090496
CNT_INSTALMENT_MATURE_CUM     3535076
NAME_CONTRACT_STATUS          3840312
SK_DPD                        3840312
SK_DPD_DEF                    3840312
dtype: int64

SK_ID_PREV                    3840312
SK_ID_CURR                    3840312
MONTHS_BALANCE                3840312
AMT_BALANCE                   3840312
AMT_CREDIT_LIMIT_ACTUAL       3840312
AMT_DRAWINGS_ATM_CURRENT      3090496
AMT_DRAWINGS_CURRENT          3840312
AMT_DRAWINGS_OTHER_CURRENT    3090496
AMT_DRAWINGS_POS_CURRENT      3090496
AMT_INST_MIN_REGULARITY       3535076
AMT_PAYMENT_CURRENT           3072324
AMT_PAYMENT_TOTAL_CURRENT     3840312
AMT_RECEIVABLE_PRINCIPAL      3840312
AMT_RECIVABLE                 3840312
AMT_TOTAL_RECEIVABLE          3840312
CNT_DRAWINGS_ATM_CURRENT      3090496
CNT_DRAWINGS_CURRENT          3840312
CNT_DRAWINGS_OTHER_CURRENT    3090496
CNT_DRAWINGS_POS_CURRENT      3090496
CNT_INSTALMENT_MATURE_CUM     3535076
NAME_CONTRACT_STATUS          3840312
SK_DPD                        3840312
SK_DPD_DEF                    3840312
dtype: int64