[View in Colaboratory](https://colab.research.google.com/github/ykpengba/Home-Credit-Risk-Data/blob/master/HomeCreditCard_Python3.ipynb)

In [1]:
import os

print(os.listdir())

['datalab', 'bureau.csv', '.forever', '.cache', 'application_train.csv', 'HomeCredit_columns_description.csv', '.local', 'previous_application.csv', '.kaggle-cli', 'credit_card_balance.csv', 'application_test.csv', 'POS_CASH_balance.csv', '.ipython', 'sample_submission.csv', 'bureau_balance.csv', 'installments_payments.csv', '.config']

In [0]:
import pandas as pd

credit_card_balance_df = pd.read_csv('./credit_card_balance.csv')

# **Dealing with Missing Values**

In [46]:
credit_card_NA_values = credit_card_balance_df.isnull().sum()
credit_card_NA_values

SK_ID_PREV                         0
SK_ID_CURR                         0
MONTHS_BALANCE                     0
AMT_BALANCE                        0
AMT_CREDIT_LIMIT_ACTUAL            0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT               0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT          0
AMT_RECEIVABLE_PRINCIPAL           0
AMT_RECIVABLE                      0
AMT_TOTAL_RECEIVABLE               0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT               0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS               0
SK_DPD                             0
SK_DPD_DEF                         0
dtype: int64

In [47]:
credit_card_balance_count = credit_card_balance_df.count()
credit_card_balance_count

SK_ID_PREV                    3840312
SK_ID_CURR                    3840312
MONTHS_BALANCE                3840312
AMT_BALANCE                   3840312
AMT_CREDIT_LIMIT_ACTUAL       3840312
AMT_DRAWINGS_ATM_CURRENT      3090496
AMT_DRAWINGS_CURRENT          3840312
AMT_DRAWINGS_OTHER_CURRENT    3090496
AMT_DRAWINGS_POS_CURRENT      3090496
AMT_INST_MIN_REGULARITY       3535076
AMT_PAYMENT_CURRENT           3072324
AMT_PAYMENT_TOTAL_CURRENT     3840312
AMT_RECEIVABLE_PRINCIPAL      3840312
AMT_RECIVABLE                 3840312
AMT_TOTAL_RECEIVABLE          3840312
CNT_DRAWINGS_ATM_CURRENT      3090496
CNT_DRAWINGS_CURRENT          3840312
CNT_DRAWINGS_OTHER_CURRENT    3090496
CNT_DRAWINGS_POS_CURRENT      3090496
CNT_INSTALMENT_MATURE_CUM     3535076
NAME_CONTRACT_STATUS          3840312
SK_DPD                        3840312
SK_DPD_DEF                    3840312
dtype: int64

In [48]:
missing_value_percentage = credit_card_NA_values/credit_card_balance_count * 100
missing_value_columns_df = pd.DataFrame(missing_value_percentage, columns={'missing_value_percentage'}).reset_index()
missing_value_columns_df.rename(columns={'index':'column_names'},inplace=True)
missing_value_columns_df

                  column_names  missing_value_percentage
0                   SK_ID_PREV                  0.000000
1                   SK_ID_CURR                  0.000000
2               MONTHS_BALANCE                  0.000000
3                  AMT_BALANCE                  0.000000
4      AMT_CREDIT_LIMIT_ACTUAL                  0.000000
5     AMT_DRAWINGS_ATM_CURRENT                 24.261995
6         AMT_DRAWINGS_CURRENT                  0.000000
7   AMT_DRAWINGS_OTHER_CURRENT                 24.261995
8     AMT_DRAWINGS_POS_CURRENT                 24.261995
9      AMT_INST_MIN_REGULARITY                  8.634496
10         AMT_PAYMENT_CURRENT                 24.996973
11   AMT_PAYMENT_TOTAL_CURRENT                  0.000000
12    AMT_RECEIVABLE_PRINCIPAL                  0.000000
13               AMT_RECIVABLE                  0.000000
14        AMT_TOTAL_RECEIVABLE                  0.000000
15    CNT_DRAWINGS_ATM_CURRENT                 24.261995
16        CNT_DRAWINGS_CURRENT                  0.000000
17  CNT_DRAWINGS_OTHER_CURRENT                 24.261995
18    CNT_DRAWINGS_POS_CURRENT                 24.261995
19   CNT_INSTALMENT_MATURE_CUM                  8.634496
20        NAME_CONTRACT_STATUS                  0.000000
21                      SK_DPD                  0.000000
22                  SK_DPD_DEF                  0.000000

In [49]:
missing_value_column_list= []

for i in range(0,len(missing_value_df)):
  if missing_value_columns_df.missing_value_percentage[i] > 0:
     missing_value_column_list.append(missing_value_columns_df.column_names[i])

print(missing_value_column_list)

['AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT', 'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM']

Missing Data Column Meanings


---


*   AMT_DRAWINGS_ATM_CURRENT: Amount drawing at ATM during the month of the previous credit

*   AMT_DRAWINGS_OTHER_CURRENT: Amount of other drawings during the month of the previous credit

*   AMT_DRAWINGS_POS_CURRENT:Amount drawing or buying goods during the month of the previous credit

*   AMT_INST_MIN_REGULARITY:Minimal installment for this month of the previous credit

* AMT_PAYMENT_CURRENT: How much did the client pay during the month on the previous credit

* CNT_DRAWINGS_ATM_CURRENT: Number of drawings at ATM during this month on the previous credit

* CNT_DRAWINGS_OTHER_CURRENT: Number of other drawings during this month on the previous credit

* CNT_DRAWINGS_POS_CURRENT: Number of drawings for goods during this month on the previous credit

* CNT_INSTALMENT_MATURE_CUM: Number of paid installments on the previous credit

In [56]:
missing_value_df = credit_card_balance_df[missing_value_column_list]
missing_value_df.describe()

,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM
count,3.090496e+06,3.090496e+06,3.090496e+06,3.535076e+06,3.072324e+06,3.090496e+06,3.090496e+06,3.090496e+06,3.535076e+06
mean,5.961325e+03,2.881696e+02,2.968805e+03,3.540204e+03,1.028054e+04,3.094490e-01,4.812496e-03,5.594791e-01,2.082508e+01
std,2.822569e+04,8.201989e+03,2.079689e+04,5.600154e+03,3.607808e+04,1.100401e+00,8.263861e-02,3.240649e+00,2.005149e+01
min,-6.827310e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.523700e+02,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.702700e+03,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01
75%,0.000000e+00,0.000000e+00,0.000000e+00,6.633911e+03,9.000000e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+01
max,2.115000e+06,1.529847e+06,2.239274e+06,2.028820e+05,4.289207e+06,5.100000e+01,1.200000e+01,1.650000e+02,1.200000e+02